.jumbotron {
  background-image: url(../images/jumbotron1.jpg);
  background-attachment: fixed;
  background-position: center top;
  height: 15rem;
}


@font-face {
  font-family: Episode1;
  src: url(../fonts/EPISODE1.TTF)
}

@font-face {
  font-family: anakin;
  src: url(../fonts/anakinmono.ttf)
}

@font-face {
  font-family: galaxy;
  src: url(../fonts/SFDistantGalaxy.ttf)
}

@font-face {
  font-family: jedispecial;
  src: url(../fonts/STJEDISE.TTF)
}
.msgRow {
  margin: 0.5rem;
}

#msg {
  font-family: anakin;
}

#characterBoard {
  padding: 1rem 1rem 0;
  font-family: jedispecial;
}

.title {
  margin: 5rem;
  color: transparent;
}

.row {
  padding: 0.5rem;
}
.infoRow {
  padding: 1rem 0.5rem 0.5rem;
}
/* .row {
  padding: 0.5rem 0.5rem 1rem;
} */

/* Characters card style*/
.card-title {
  font-family: Episode1;
  margin-bottom: 1.25rem;
}
.card-text {
  font-family: anakin;
}
.card-body {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/* Animate */
.flash {
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
